# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

src/haar_cascade_creator/data_acquisition/neg/

src/haar_cascade_creator/data_acquisition/poz/

src/haar_cascade_creator/data_acquisition/real/

src/haar_cascade_creator/\.idea/

src/haar_cascade_creator/data_acquisition/uglies/

\.idea/
